<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDKhR-clT0pKeQj3i5DQR4IrBZvefxF2E8</string>
	<key>GCM_SENDER_ID</key>
	<string>420989783812</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>.com.stephaniet.LokeRecipes</string>
	<key>PROJECT_ID</key>
	<string>lokerecipebook</string>
	<key>STORAGE_BUCKET</key>
	<string>lokerecipebook.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:420989783812:ios:2085b2a8fcc92869ad4a51</string>
</dict>
</plist>
